@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '@/styles/null-styles.scss';
@import '@/styles/variables.scss';
@import '@/styles/mixin.scss';

body{
	background-color: $gray !important;
}

*{
	color: $text-color ;
}

.theme-block{
	padding: 50px 0;
	position: relative;
	z-index: 10;
}
.container{
	position: relative;
	z-index: 2;
	@media (min-width: 1400px) {
		max-width: 1200px !important;
	}
}
#app{
	max-width: 1920px;
	margin: auto;
	background-color: $background !important;
	box-shadow: 0 0 50px 1px rgba($color: $background, $alpha: 0.5);
	overflow: hidden;
}
