@mixin theme-btn-active {
	background: linear-gradient(70deg, rgba($color: $pink, $alpha: 0.5) 10%, rgba($color: $blue, $alpha: 0.5) 100%);
	@include blur;
	letter-spacing: 2px;
	min-width: 200px;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 30px;
	border-radius: 15px;
	box-shadow: 2px 5px 20px 1px rgba($color: #ffffff, $alpha: 0.1);
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 16px;
	text-transform: uppercase;
	transition: 0.3s ease-in-out all;

	&:hover {
		transform: scale(1.05);
	}

	@media (max-width: 575px) {
		width: 100%;
	}
}

@mixin theme-btn {
	background: linear-gradient(0deg, rgba($color: #fff, $alpha: 0.15) 0%, rgba($color: #fff, $alpha: 0.15) 100%);
	@include blur;
	min-width: 160px;
	min-height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 30px;
	border-radius: 15px;
	box-shadow: 2px 5px 20px 1px rgba($color: #ffffff, $alpha: 0.1);
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 22px;
	transition: 0.3s ease-in-out all;

	@media (max-width: 575px) {
		width: 100%;
	}
}

@mixin theme-btn-white {
	background: $white;

	&>span {
		color: $main-theme-color;
		letter-spacing: 2px;
	}

	color: $main-theme-color;
	letter-spacing: 2px;
	min-width: 200px;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 30px;
	border-radius: 15px;
	box-shadow: 2px 5px 20px 1px rgba($color: #ffffff, $alpha: 0.1);
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 16px;
	text-transform: uppercase;
	transition: 0.3s ease-in-out all;

	@media (max-width: 575px) {
		width: 100%;
	}
}

@mixin blur {
	backdrop-filter: blur(25px);
}

@mixin blur-effect {
	@include blur;
	background-color: rgba($color: $text-color, $alpha: 0.15);
	box-shadow: 2px 5px 10px 1px rgba($color: #ffffff, $alpha: 0.1);
	border-radius: 15px;
	padding: 50px 65px;
	// border: 1px solid #9342c2;
	border: 1px solid #fff;

	@media (max-width: 767px) {
		padding: 40px 25px;
	}
}

@mixin title-of-block {
	font-weight: 700;
	font-size: 65px;
	letter-spacing: 5px;

	@media (max-width: 767px) {
		font-size: 40px;
	}
}

@mixin gradient {
	background: linear-gradient(70deg, rgba($color: $pink, $alpha: 0.5) 10%, rgba($color: $blue, $alpha: 0.5) 100%);
}


@mixin left-title {
	@include title-of-block;
	max-width: 700px;
	position: relative;
	padding-left: 50px;
	z-index: 1;

	@media (max-width: 767px) {
		max-width: 100%;
	}

	@media (max-width: 991px) {
		padding: 30px 20px;
		line-height: 1.1;
	}

	&:before {
		content: '';
		position: absolute;
		width: 5px;
		border-radius: 2px;
		height: 100%;
		left: 0;
		top: 0;
		@include gradient;

		@media (max-width: 991px) {
			width: 100%;
			z-index: -1;
			border-radius: 15px;
		}
	}
}

@mixin title {
	font-size: 27px;
	letter-spacing: 3px;
	font-weight: 700;
	margin-bottom: 30px;
	position: relative;
	margin-bottom: 70px;

	span {
		position: relative;
		z-index: 1;
		border: 1px solid $pink;
		width: fit-content;
		padding: 15px 30px;
		border-radius: 50px;
		background-color: $white;
		display: block;
		margin: auto;
	}

	&::before {
		content: '';
		height: 2px;
		background-color: $pink;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}

	>* {
		color: $main-theme-color;
	}
}